/* .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  
  } */
  
  .logo {
    font-size: 32px;
    color: black;
  }
  
  .navigation-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    color: white;
  }
  
  .navigation-links li {
    cursor: pointer;
    gap: 1.5rem;
    font-size: large;
  
  }
  
  .social-icons {
    display: flex;
    gap: 1.5rem;
  }
  
  .social-icons a {
    background: linear-gradient(to right, #050f2c, #001c55);
    font-size: 1.8rem;
    color: whitesmoke;
    border-radius: 10%;
    margin-bottom: 10px;
  }
  a {
    color: var(--color-primary);
    transition: var(--transition);
}

.menu_bar ul li {
    font-size: 18px;
    color: white;
    font-style: oblique;
}