.item{
    background: #041e56;
    color: white;
    scroll-behavior: smooth;
    border: 1px solid transparent;
    transition: var(--transition);
    padding: 10px;
}
.item:hover{
    background: transparent;
    
    border-color:  #0EA5E9;
    cursor: default;
    transition:1s;
}